In [42]:
import pandas

In [43]:
pandas.Series

pandas.core.series.Series

In [44]:
import pandas as pd

In [45]:
pd.Series

pandas.core.series.Series

In [46]:
d = {"one":7, "two":8, "three":9}
d

{'one': 7, 'two': 8, 'three': 9}

In [47]:
s = pd.Series({"one":7, "two":8, "three":9})
s

one      7
two      8
three    9
dtype: int64

In [48]:
d["one"]

7

In [49]:
s.get("one")

7

In [50]:
s.get(0)

7

In [51]:
s.loc["one"]

7

In [52]:
s.iloc[0]

7

In [53]:
s["one"]

7

In [54]:
s[0]

7

In [55]:
s[[0,2]] #integer positions

one      7
three    9
dtype: int64

In [56]:
s[["one","three"]] #indices

one      7
three    9
dtype: int64

In [57]:
num_list = [100,200,300]
a = pd.Series(num_list)
a

0    100
1    200
2    300
dtype: int64

In [58]:
a.loc[1]

200

In [59]:
a.iloc[1]

200

In [60]:
#slicing
letters_list = ["a","b","c","d","e","f"]
letters = pd.Series(["a","b","c","d","e","f"])
letters

0    a
1    b
2    c
3    d
4    e
5    f
dtype: object

In [61]:
letters_list

['a', 'b', 'c', 'd', 'e', 'f']

In [62]:
slice1 = letters_list[2:]
slice1

['c', 'd', 'e', 'f']

In [63]:
slice1[0]

'c'

In [64]:
slice2 = letters[2:]
slice2

2    c
3    d
4    e
5    f
dtype: object

In [65]:
slice2.loc[2] #retains indices

'c'

In [66]:
slice2.iloc[2]

'e'

In [67]:
s

one      7
two      8
three    9
dtype: int64

In [69]:
s["two":]

two      8
three    9
dtype: int64

In [71]:
#elementwise operations
nums = [1,2,3,4]
nums * 3

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [80]:
b = pd.Series(nums)
nums

[1, 2, 3, 4]

In [81]:
b * 3

0     3
1     6
2     9
3    12
dtype: int64

In [82]:
b / 3

0    0.333333
1    0.666667
2    1.000000
3    1.333333
dtype: float64

In [83]:
b % 3

0    1
1    2
2    0
3    1
dtype: int64

In [84]:
b +=2
b

0    3
1    4
2    5
3    6
dtype: int64

In [85]:
c = pd.Series([1,2,3])
f = pd.Series([4,5,6])

In [87]:
d = c * f

In [88]:
d

0     4
1    10
2    18
dtype: int64

In [92]:
g = pd.Series(["a","Alice", 1, 4, 5, [1,2], {"a":"Alice"}])
g

0                 a
1             Alice
2                 1
3                 4
4                 5
5            [1, 2]
6    {'a': 'Alice'}
dtype: object

In [93]:
s1 = pd.Series([1,2,3])
s2 = pd.Series([4,5])

In [98]:
r = pd.concat([s1,s2])
r

0    1
1    2
2    3
0    4
1    5
dtype: int64

In [99]:
r.loc[0]

0    1
0    4
dtype: int64

In [102]:
s1 = pd.Series({"A":10, "B":20})
s2 = pd.Series({"B":1, "A":2})
print(s1)
print(s2)

A    10
B    20
dtype: int64
B    1
A    2
dtype: int64

In [103]:
s1 + s2

A    12
B    21
dtype: int64

In [106]:
#append
s2["Z"] = 100
s2

B      1
A      2
Z    100
dtype: int64

In [108]:
s1.loc["A"]+1

11

In [110]:
news = pd.Series([10, 2, 3, 15])
news

0    10
1     2
2     3
3    15
dtype: int64

In [112]:
news[pd.Series([True, False, False, True])]

0    10
3    15
dtype: int64

In [113]:
boole = pd.Series([True, False, False, True])
boole

0     True
1    False
2    False
3     True
dtype: bool

In [115]:
news[boole]

0    10
3    15
dtype: int64

In [116]:
news > 8

0     True
1    False
2    False
3     True
dtype: bool

In [117]:
news[news > 8]

0    10
3    15
dtype: int64

In [120]:
words = pd.Series(["APPLE", "bill", "CAT", "dog"])
words

0    APPLE
1     bill
2      CAT
3      dog
dtype: object

In [124]:
up = words.str.upper()
low = words.str.lower()

In [126]:
words[words == up]

0    APPLE
2      CAT
dtype: object

In [127]:
words[words == low]

1    bill
3     dog
dtype: object

In [128]:
nums = pd.Series([10, 19, 11, 30, 35])

In [130]:
nums[nums%2 == 1]

1    19
2    11
4    35
dtype: int64

In [131]:
nums[nums<12 or nums>33] #ValueError

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [135]:
nums[(nums<12)|(nums>33)]

0    10
2    11
4    35
dtype: int64

In [136]:
nums[~((nums > 12) & (nums < 33))]

0    10
2    11
4    35
dtype: int64